*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav{
   height: 100px;
   width: 100%;
   background-color: rgb(93, 95, 95);
   justify-content: space-between;
   display: flex;
   align-items: center;
   padding-right: 20px;
   
}
nav h1{
    font-size: 20px;
    font-family: tahoma;
    padding-left: 20px;
    
    
}
.links{
   display: flex;
   flex-direction: column;
   gap: 20px;
}
.links a{
    color: gray;
    text-decoration: none;
    font-family: tahoma;
    
}
.note{
    height: 50px;
    width: 40%;
    background-color: rgb(102, 190, 241);
    display: flex;
    justify-content:left;
    align-items: left;
}
.button{
    background-color: aqua;
    font-family: tahoma;
    padding: 10px;
}
.pink{
    color: rgb(255, 110, 134);
}