*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* NAVIGATION TAB */
nav{
   height: 100px;
   width: 100%;
   background-color: rgb(93, 95, 95);
   justify-content: space-between;
   display: flex;
   align-items: center;
   padding-right: 20px;
   
}
nav h1{
    font-size: 20px;
    font-family: tahoma;
    padding-left: 30px;
    color: white;
    
    
}
.links{
   display: flex;
   flex-direction: column;
   gap: 20px;
}
.links a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: tahoma;
    
}
.note{
    height: 50px;
    width: 40%;
    background-color: rgb(102, 190, 241);
    display: flex;
    justify-content:left;
    align-items: center;
    border-radius: 8px;
}
.button{
    background-color: aqua;
    font-family: tahoma;
    padding: 10px;
    margin-top: 10px;
}
.pink{
    color: rgb(255, 110, 134);
}
.note p{
    margin-top: 10px;
}
main{
    padding-left: 30px;
    padding-right: 30px;
}

/* REGISTER */

form{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.input{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
form input{
    height: 40px;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;

}
.actions{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
/* HOME */
 .home{
    display: none;
} 
 .register{
    display: none;
} 

/* EMAIL */
.email{
display: none;
}
.email-txt{
    padding: 20px;
    width: 30%;
    background-color: rgb(172, 250, 172);
    border-radius: 8px;
}
/* LOGIN  */
.login{
    display: none;
}
.inner-profile{
    padding: 10px;
    border: 2px solid;
    border-radius: 5px;
    width: 35%;
}

